@import url(../index.css);

.section {
  width: 100%;
  height: 360px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.top::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90%;
  border-bottom: 1px solid var(--dark);
}

.title {
  display: flex;
  align-items: center;
  height: 100%;
}

.title h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--dark);
}

.title span {
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #bebebe;
  font-style: italic;
  cursor: pointer;
}

.title span:hover {
  color: #8f8f8f;
}

.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90px;
}

.arrow .left,
.arrow .right {
  background-size: cover;
  width: 36px;
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--dark);
}

.arrow .left {
  background-image: url(../assets/arrows/left.png);
}

.arrow .right {
  background-image: url(../assets/arrows/right.png);
}

.arrow .right.active {
  background-image: url(../assets/arrows/right_active.png);
  cursor: pointer;
}

.arrow .left.active {
  background-image: url(../assets/arrows/left_active.png);
  cursor: pointer;
}

.left.active:hover,
.right.active:hover {
  background-color: var(--primary-l);
}

.content {
  height: 81%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  gap: 20px;
}

.content::-webkit-scrollbar {
  display: none;
}

@media (max-width:800px) {
  .section{
    height: 300px;
  }

  .top::after{
    width: 100%;
  }

  .title{
    width: 100%;
    justify-content: space-between;
  }

  .arrow{
    display: none;
  }

  .content{
    gap: 9px;
  }
}